# todo: follow this: https://discourse.pi-hole.net/t/pi-hole-high-availability-with-kubernetes/67505/4
# 1170
---
apiVersion: v1
kind: Service
metadata:
  name: pihole
  labels:
    app: pihole
  annotations:
    # https://metallb.io/usage/#ip-address-sharing
    metallb.io/allow-shared-ip: pihole-dns
    metallb.io/loadBalancerIPs: 192.168.0.201
spec:
  type: LoadBalancer
  ports:
    - port: 53
      targetPort: 53
      name: dns-tcp
      protocol: TCP
    - port: 80
      targetPort: 80
      name: web
      protocol: TCP
  selector:
    app: pihole
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-udp
  labels:
    app: pihole
  annotations:
    metallb.io/allow-shared-ip: pihole-dns
    metallb.io/loadBalancerIPs: 192.168.0.201
spec:
  type: LoadBalancer
  ports:
    - port: 53
      targetPort: 53
      name: dns-udp
      protocol: UDP
  selector:
    app: pihole
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pihole
spec:
  selector:
    matchLabels:
      app: pihole # has to match .spec.template.metadata.labels
  serviceName: "pihole"
  replicas: 1
  minReadySeconds: 10 # by default is 0
  template:
    metadata:
      labels:
        app: pihole # has to match .spec.selector.matchLabels
    spec:
      containers:
        - name: pihole
          image: "pihole/pihole:latest"
          ports:
            - containerPort: 53
              name: dns-tcp
              protocol: TCP
            - containerPort: 53
              name: dns-udp
              protocol: UDP
            - containerPort: 80
              name: web
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: dns-tcp
          volumeMounts:
            - name: config
              mountPath: /etc/pihole
          # - name: config2
          #   mountPath: /etc/dnsmasq.d
          env:
            - name: TZ
              value: "America/New_York"
            - name: WEBPASSWORD
              value: {{ .Values.piholePassword | quote }}
            - name: DNSMASQ_USER
              value: root
  volumeClaimTemplates:
    - metadata:
        name: config
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "pihole"
        resources:
          requests:
            storage: 1Mi
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  namespace: default
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: Prefix
            path: "/admin/"
            backend:
              service:
                name: pihole
                port:
                  name: web
