# https://kubernetes.io/docs/concepts/storage/volumes/#local
# https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner
# https://github.com/minio/operator?tab=readme-ov-file#tenant-persistent-volumes
{{- range .Values.nodes }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sata-{{ . }}
spec:
  capacity:
    storage: 1.8Ti
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /mnt/sata
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ . }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pihole-{{ . }}
spec:
  capacity:
    storage: 10Mi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: pihole
  local:
    path: /usr/local/var/pihole
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ . }}
{{- end }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: pihole
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
# https://kubernetes.io/docs/concepts/storage/storage-classes/
# https://github.com/minio/operator?tab=readme-ov-file#tenant-storage-class
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

{{- range .Values.arrVolumes }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-config-{{ . }}
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: arr-config-{{ . }}
  local:
    path: /usr/local/var/config/{{ . }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ser5-3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: arr-config-{{ . }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
{{- end }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-cache
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: arr-cache
  local:
    path: /usr/local/var/cache
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ser5-3

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: arr-cache
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

{{- range .Values.arrVolumes }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-downloads-{{ . }}
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: arr-downloads-{{ . }}
  local:
    path: /mnt/mergerfs/downloads
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ser5-3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: arr-downloads-{{ . }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-movies-{{ . }}
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: arr-movies-{{ . }}
  local:
    path: /mnt/mergerfs/movies
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ser5-3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: arr-movies-{{ . }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-tv-{{ . }}
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: arr-tv-{{ . }}
  local:
    path: /mnt/mergerfs/tv
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ser5-3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: arr-tv-{{ . }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
{{- end }}
