# ProtonVPN WireGuard credentials for gluetun (custom provider mode).
# Generate a WireGuard config at https://account.protonvpn.com/downloads
# (pick a P2P-capable server) and copy the values out:
#
#   [Interface]
#     PrivateKey   -> WIREGUARD_PRIVATE_KEY
#     Address      -> WIREGUARD_ADDRESSES
#   [Peer]
#     PublicKey    -> WIREGUARD_PUBLIC_KEY
#     Endpoint     -> WIREGUARD_ENDPOINT_IP : WIREGUARD_ENDPOINT_PORT
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_ENDPOINT_IP=
WIREGUARD_ENDPOINT_PORT=51820
