# https://recyclarr.dev/wiki/yaml/config-reference/
# Run a sync manually: docker compose run --rm recyclarr sync
# Tweak the included templates list as taste evolves.

sonarr:
  main:
    base_url: http://sonarr:8989
    api_key: !env_var SONARR_API_KEY
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-custom-formats-web-1080p
    quality_profiles:
      - name: WEB-1080p

radarr:
  main:
    base_url: http://radarr:7878
    api_key: !env_var RADARR_API_KEY
    include:
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
    quality_profiles:
      - name: HD Bluray + WEB
