{
  "TCP": {
    "443": {
      "HTTPS": true
    }
  },
  "Web": {
    "${TS_CERT_DOMAIN}:443": {
      "Handlers": {
        "/": {
          "Proxy": "{{ item.upstream }}"
        }
      }
    }
  }{% if item.funnel %},
  "AllowFunnel": {
    "${TS_CERT_DOMAIN}:443": true
  }{% endif %}
}
